<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="35457SamuelWronski.Conqueror" Publisher="CN=561A0961-5139-4F6A-9A8A-F4A1BE687678" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Conqueror</DisplayName>
    <PublisherDisplayName>Samuel Wronski</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Conqueror.App">
      <m2:VisualElements DisplayName="Conqueror" Square30x30Logo="Assets\SmallLogo.png" Description="Conqueror" ForegroundText="light" BackgroundColor="#c80000" Square150x150Logo="Assets\Logo.png">
        <m2:DefaultTile ShortName="Conqueror">
        </m2:DefaultTile>
        <!--m2:LockScreen Notification="" BadgeLogo="Assets\BadgeLogo.png" /-->
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>